






@*<div class="col-2" id="forensics-sidebar">
    <div class="list-group">
       @Ajax.FormattedActionLink(string.Format("<div class=\"list-group-item-text\">File Extraction</div>"), "Index", "FileExtraction", null, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "forensics-body" }, new { @class = "list-group-item" })
        @*<a href="/forensics/fileextraction" class="list-group-item">
            <div class="list-group-item-text">File Extraction</div>
        </a>*@
        @*<a href="#" class="list-group-item">
            <div class="list-group-item-text">System Restore</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">Memory Capture</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">Packet Capture</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">Host Firewall</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">Host DNS</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">Event Logs</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">Browser History</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">Proxy Settings</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">File System</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">Registry</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">Network</div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-item-text">Processes</div>
        </a>
    </div>
</div>
<div class="col-8" id="forensics-body">
    @RenderBody()
</div>

